<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:util="http://www.springframework.org/schema/util"
  xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

  <util:map id="fruits">
    <entry key="fruit1" value="${fruit1}" />
    <entry key="fruit2" value="${fruit2}" />
    <entry key="fruit3" value="${fruit3}" />
    <entry key="fruit4" value="${fruit4}" />
    <entry key="fruit5" value="${fruit5}" />
    <entry key="fruit6" value="${fruit6}" />
  </util:map>

</beans>
